/*Mise en place de la Police*/

@font-face {
    font-family: 'robotomedium';
    src: url('fonts/Roboto-Medium-webfont.eot');
    src: url('fonts/Roboto-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Medium-webfont.woff') format('woff'),
         url('fonts/Roboto-Medium-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotothin';
    src: url('fonts/Roboto-Thin-webfont.eot');
    src: url('fonts/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Thin-webfont.woff') format('woff'),
         url('fonts/Roboto-Thin-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'robotobold';
    src: url('fonts/Roboto-Bold-webfont.eot');
    src: url('fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('fonts/Roboto-Bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

* /*Selecteur universel pour mettre la police partout*/

{
	font-family: 'robotomedium', sans-serif
}

/*Partie Header et Petite fille*/
.conteneur {
    display: flex;
    flex-direction: row;
}

.position_fleche {
    display: flex;
    flex-direction: column;
    height: 80vh;
    align-items: center;
    justify-content: center;
}
header {
    justify-content: space-between;
    border-bottom: 1px solid grey;
    align-items: center;
    width: 100%;
    height: 100px;
	background: white;
    position: fixed;
    z-index: 101;
}
.logo {
    font-size: 1.1em;
	margin-left: 9%;
}
img {
    width: 100%;
}
#menu {
    display: flex;
	position: relative;
	width: 100%;
	right: 60%;
	height: 100px;
	align-items: center;
}
li {
	margin-right: 10%;
	list-style-type: none;
	font-size: 0.9em;
}
a {
	text-decoration: none;
	color: grey;
}
.li {
	width: auto;
	height: 100px;
	align-items: center;
	justify-content: center;
}
.li:hover {
	border-top: 3px solid rgb(92,173,211);
}
#petite_fille {
    background: url(images/slider/bg1.jpg) no-repeat;
    position:relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    top: 70px;
}
#slider:target #petite_fille { 
    background: url(images/slider/bg2.jpg) no-repeat;
    position:relative;
    height: 80vh;
    width: 100%;
    background-size: cover;
    flex-direction: column;
    top: 70px;
}
.descrip_petite_fille {
    flex-direction: column;
    position: relative;
    top: 150px;
    margin-left: 9%;
    width: 90%;
    color: white;
}
.pdesc {
	font-size: 1.1em;
	color: white;
}
h1 {
	font-size: 2.1em;
    color: white;
}
.h1_bleu {
	color: rgb(92,172,211);
}
.bouton_bleu {
	width: 110px;
	height: 40px;
	border-radius: 3px;
	border-bottom: 2px solid rgb(0,130,211);
	background: rgb(92,173,211);
	color: white;
	font-size: 1.1em;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 20px;
}
.bouton_bleu:hover {
	top: 21px;
	color: black;
	border-bottom: 1px solid rgb(0,130,211);
}
.ligne_bleue {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 50%;
	border-bottom: 4px solid rgb(92,173,211);
	z-index: 4;
}
#slider:target .ligne_bleue {
	left: 50%;
	
}
.fond_gris {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	border-bottom: 4px solid rgba(0,0,0,0.2);
	z-index: 3;
}
.fleche_gauche {
	font-size: 1.5em;
	color: white;
	background: rgba(0,0,0,0.4);
	border-radius: 0 35px 35px 0;
	padding: 10px;
	z-index: 2;

}
.fleche_droite {
	font-size: 1.5em;
	color: white;
	background: rgba(0,0,0,0.4);
	border-radius: 35px 0 0 35px;
	padding: 10px;
	z-index: 2;
}

/* Partie Nos Services */

h2 {
	margin-top: 120px;
	text-align: center;
	font-size: 2.5em;
}
.ligne {
	color: rgba(85,85,85,0.2);
	justify-content: center;
}
.point_fond { /* Mise en position relative pour pouvoir le placer etre les lignes */
	position: relative;
	width: 15px;
	height: 15px;
	top: 7px;
	background: white;
	padding: 3px;
	border-radius: 15px;
}
.point_bleu { /* Mise en position absolute pour pouvoir le placer sur le point de fond blanc */
	position: absolute;
	width: 15px;
	height: 15px;
	background: rgb(92,173,211);
	border-radius: 15px;
}
.text_pres {
	text-align: center;
	justify-content: center;
	width: 50%;
	margin: auto;
	padding: 1%;
	font-size: 1em;
	font-family: 'robotobold', sans-serif;
	color: grey;
}
.ordi_et_icones {
	margin: 0;
	margin-top: 60px;
	width: 100%;
	height: auto;
    justify-content: flex-end;
}
.ordi {
    width: 40%; /*Pour agrandir la photo */
    margin-top: 30px;
}
.partie_icones {
    margin-top: 15px;
    width: 50%;
}
.parag_icone {
	width: 100%;
	height: 100px;
	font-size: 0.9em;
	margin-bottom: 60px;
}
.icone {
	position: relative;
	font-size: 1.85em;
	width: auto;
	margin: 5px;
	height: 30px;
	justify-content: center;
	align-items: center;
	color: rgb(92,173,211);
	border: 1px solid rgb(85,85,85,0.3);
	border-radius: 31px;
	padding: 15px;
	z-index: 1;
}
.icone_point {
	position: relative;
	font-size: 0.7em;
	bottom: 48px;
	left: 58px;
	background: white;
	color: rgba(92,173,211,1);
	border: 1px solid white;
	border-radius: 4px;
	z-index: 2;
}
.text_icone {
	width: 75%;
	margin-left: 15px;
	text-align: justify;
	font-size: 1em;
	font-family: 'robotobold', sans-serif;
	color: grey;
}
h3 {
	font-size: 1.2em;
	font-family: 'robotobold', sans-serif;
	color: black;
}

/* Partie Portfolio */

.projet {
    margin-top: 70px;
	text-align: center;
	font-size: 2.5em;
}
.portfolio {
	align-items: center;
	justify-content: center;
	background: rgba(85,85,85,0.1);
    padding-bottom: 50px;
}
.menu_port {
    
    width: 30%;
	margin: 40px auto 40px auto;
	height: 50px;
	border-radius: 4px;
	background: rgba(85,85,85,0.3);
}
.carre {
	position: relative;
	width: 100%;
	color: gray;
	justify-content: center;
	align-items: center;
}
.fleche_bas {
	position: absolute;
	top: 37px;
	font-size: 1em;
	color: rgba(0,130,211,0); /* La flèche est invisible en normal */
}
.carre:hover {
	background: rgb(92,173,211);
	color: white;
	border-bottom: 2px solid rgb(0,130,211);
}
.carre:hover .fleche_bas {
	color: rgba(0,130,211,1); /* Quand la souris passe sur une flechebas dans un carre:hover la fleche deviens opaque */
}
.cat_images {
	width: 95%;
	margin: auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.images {
    width: 23%;
	margin-top: 2%;
    margin-left: -1%;
    margin-right: -1%;
	padding: 0;
	position: relative;
}
.titre {
	position: absolute;
	bottom: 5px;
	width: 90.1%;
	height: 25%; 
	color: rgba(255,255,255,0);
	padding: 5%;
	z-index: 1;
    font-size: 1.3em;
}
.oeil {
    position: absolute;
	bottom: 70%;
	right: 3%;
	font-size: 0.9em;
	color: rgba(255,255,255,0);
	background: rgba(92,173,211,0);
	padding: 15px;
	border-radius: 50%;
	border: 1px solid rgba(255,255,255,0);
	z-index: 2;
}
.images:hover .titre {
	background: rgba(0,0,0,0.6);
	color: rgba(255,255,255,1);
}
.images:hover .oeil {
	color: rgba(255,255,255,1);
	background: rgba(92,173,211,1);
	border: 1px solid rgba(255,255,255,1);
}
.titre_infos {
    font-size: 1.0em;
}

/* Pour que All Work soit activé de base */

div[title="carre_ok"]:defined {
	background: rgb(92,173,211);
	color: white;
	border-radius: 4px 0px 0px 4px;
	border-bottom: 2px solid rgb(0,130,211);
}
span[title="fleche_ok"]:defined {
	color: rgba(0,130,211,1);
}

/* Partie Contact */

.contact {
    position: relative;
    flex-direction: column;
}
.map {
    width: 100%;
    height: 650px;
    border: 0;
    margin: 0;
    opacity: 0.6;
}
.map_bleu {
    background: rgb(92,173,211);
	width: 100%;
	height: 650px;
}
.formulaire {
    flex-direction: column;
    position: absolute;
    width: 300px;
    height: 500px;
    background: rgba(255,255,255,0.8);
    top: 75px;
    right: 10%; /* Pour déplacer le formulaire a 10% de la droite */
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 3px;
}
.ligne_f {
    width: 290px;
    height: 30px;
    margin-bottom: 20px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(85,85,85,0.3);
    font-size: 0.8em;
    font-family: 'robotobold', sans-serif;
    color: black;
}
.text_area {
    width: 290px;
    height: 140px;
    border-radius: 5px;
    border-width: 1px;
    border-color: rgba(85,85,85,0.3);
    font-family: 'robotobold', sans-serif;
    font-size: 0.8em;
}
.bouton_formulaire {
	width: 100px;
	height: 30px;
	align-items: center;
	justify-content: center;
	background: rgba(92,173,211,1);
	color: white;
	border-radius: 3px 3px 3px 3px;
	border-bottom: 2px solid rgb(68,148,187);
	font-size: 0.9em;
	font-family: 'robotobold', sans-serif;
    margin-top: 10px;
}
.bouton_formulaire:hover {
	position: relative;
	top: 1px;
	color: black;
	border-bottom: 1px solid rgb(0,130,211);
}
.contact_titre {
    font-size: 1.6em;
	font-weight: bold;
    font-family: 'robotobold', sans-serif;
}
.contact_adresse {
    font-size: 0.8em;
    font-family: 'robotothin', sans-serif;
    color: gray;
}
.contact_web {
    font-size: 0.8em;
    color: gray;
}

/* Corps du site */

body {
    margin: 0;
    padding: 0;
}
.flex {
    display: flex;
}
.comble {
    height: 1px; /* Pour que l'ancre Portfolio arrive au bon endroit */
}

/* Partie responsive */

/* menu burger */

#burger {
    display: none;
}
.croix_burger {
    display: none;
}
@media screen and (max-width: 768px) {
    #menu {
	position: absolute;
	display: none;
	top: 84px;
	right: 0;
	width: 20%;
	height: 250px;
	background: white;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	font-family: 'robotomedium', sans-serif;
	color: grey;
	border: 1px solid grey;
    }   
    #burger {
		display: inline-block;
		position: absolute;
		right: 5%;
		color: grey;
		font-size: 1.8em;
		z-index: 1;
	}
	#menu:target {
		display: flex;
	}
    .li:hover {
		border-top: 0px solid rgba(92,173,211,0);
		border-bottom: 0px solid rgb(92,173,211,0);
	}
    .li {
	width: auto;
	height: 50px;
	align-items: center;
	justify-content: center;
}
    .croix_burger {
        display: flex;
		position: absolute;
		width: 40px;
		right: 2%;
		bottom: 280px;
		background: white;
		font-size: 2.0em;
		z-index: 2;
	}
} 

/* Partie Header et Petite fille */
@media screen and (max-width: 320px) {
    .logo {
        margin-left: 0%;
    }
}
@media screen and (max-width:512px) {
    .position_fleche {
        display: none;
    }
    #petite_fille {
        height: auto;
		background: rgb(85,85,85);
		text-align: center;
    }
    .descrip_petite_fille {
        right: 3%;     
    }
    h1 {
	font-size: 1.7em;
    }
    .pdesc {
	font-size: 1em;
    }
    .ligne_bleue {
        display: none;
    }
}
@media screen and (max-width: 768px) {
    #slider:target #petite_fille { 
        height: 310px;
        top: 100px;
}
	#petite_fille {
		top: 100px;
		height: 310px;
        
	}
    .descrip_petite_fille {
        flex-direction: column;
        position: relative;
        margin-left: 9%;
        top: 15px;
        
        color: white;
}
}
@media screen and (max-width: 844px) {
    .descrip_petite_fille .bouton_bleu {
        display:none;
    }
}
@media screen and (max-width: 1024px) {
    .descrip_petite_fille {
        flex-direction: column;
        position: relative;
        margin-left: 9%;
        top: 15px;
        width: 90%;
        color: white;
    }
    #slider:target #petite_fille { 
        height: 350px;
        top: 100px;
}
	#petite_fille {
		top: 100px;
		height: 350px;
        
	}
    
}

/* Partie nos services */

@media screen and (max-width: 768px) {
	.ordi_et_icones{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
    .parag_icone {
		width: 90%;
		height: auto;
		align-items: center;
		justify-content: center;
	}
    .partie_icones {
        margin-top: 60px;
        width: 100%;
        justify-content: space-between;
}
    .text_icone {
        font-size: 1.1em;
}
    .text_pres {
        font-size: 1.1em;
    }
    #Services {
        margin-bottom: 150px;
    }
} 
@media screen and (max-width: 1024px) {
    .ordi_et_icones{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 30px;
	}
    .parag_icone {
        width: 90%;
        height: auto;
		align-items: center;
        justify-content: center;
        margin-bottom: 10px;
    }
    .ordi {
        width: 70%;
    }
    .partie_icones {
        width: 100%;
        justify-content: space-between;
        
    }
}

/* Partie nos projets */

@media screen and (max-width: 1024px) {
    .titre {
        font-size: 0.9em;
    }
    .titre_infos {
        font-size: 0.8em;
    }
    .oeil {
        bottom: 55%;
        padding: 10px;
    }
}
@media screen and (max-width: 768px) {
    h2{
        margin-top: 50px;
    }
    .menu_port {
        width: 50%;
    }
    .images {
        width: 46%;
    }
    .portfolio {
        padding-bottom: 30px;
    }
    .titre {
        font-size: 1.2em;
    }
    .titre_infos {
        font-size: 0.8em;
    }
    .oeil {
        bottom: 68%;
        padding: 12px;
    }
} 
@media screen and (max-width: 512px) {
    .menu_port {
        width: 80%;
    }
    .titre {
        font-size: 0.9em;
    }
    .titre_infos {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 425px) {
    .titre {
        font-size: 0.8em;
    }
    .titre_infos {
        font-size: 0.7em;
    }
    .oeil {
        bottom: 60%;
        padding: 8px;
        font-size: 0.8em;
    }
}
@media screen and (max-width: 320px) {
    .menu_port {
        width: 90%;
    }
    .titre {
        font-size: 0.6em;
    }
}

/* Partie formulaire */

@media screen and (max-width: 768px) {
    .formulaire {
        right: 23%;
        width: 400px;
        height: 510px;
        
    }
    .ligne_f {
        width: 390px;
        font-size: 1.0em;
}
    .text_area {
        width: 390px;
        font-size: 1.0em;
    }
    .contact_web {
        font-size: 1.3em;
    }
    .contact_adresse {
        font-size: 1.1em;
    }
    .contact_titre {
        font-size: 1.9em;
    }
} 
@media screen and (max-width: 512px) {
    .formulaire {
        width: 250px;
        height: 510px;
        left: 20%;
    }
    .ligne_f {
        width: 240px;
    }
    .text_area {
        width: 240px;
    }
}
@media screen and (max-width: 320px) {
    .formulaire {
        left: 5%;
    }
}
	
